[package]
name = "catalog"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
types = { path = "../types" }
storage = { path = "../storage" }

serde.workspace=true
snafu.workspace=true
crc32fast.workspace=true
