[package]
name = "catalog"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
crc32fast.workspace = true
serde.workspace = true
snafu.workspace = true
storage.workspace = true
types.workspace = true
