[package]
name = "storage"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
types = { path = "../types" }
sql = {path= "../sql"}

serde.workspace=true