[package]
name = "storage"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
serde.workspace = true
sql.workspace = true
types.workspace = true
