[package]
name = "sql"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
types = { path = "../types" }

serde.workspace=true
snafu.workspace=true