[package]
name = "sql"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
serde.workspace = true
snafu.workspace = true
types.workspace = true
