[package]
name = "api"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
catalog.workspace = true
crc32fast.workspace = true
exec.workspace = true
serde.workspace = true
snafu.workspace = true
sql.workspace = true
